h2 {
    font-family: Avenir Lt Std-Book !important;
}

//Estilo para los iconos cuando se muestra un alert de Bootstrap 
.icon-material { font-size: 80px; width: 80px !important; height: 80px !important; }